<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Quality of This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="about">About This Data Set</a></li>
	    <li  class="active"><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Quality: About This Data Set</h1>
        <p>A brief summary about the quality of the data set here</a></p>
	<p>The data was generally of good quality, with very few missing values (missing values were possibly created, when the sensors had been turned-off because of battery optimization).
	<br/>I used wrangler for cleaning up the missing values. As suggested by wrangler, rows with null values were simply deleted.
	<br/>The timestamp was in milliseconds, and was converted to the corresponding date-time format, using an appropriate 'Calculate Field' command in Tableau.</p>
      </div>

      <div class="page-header">
	<h2>Is the data complete?</h2>
	<p>Do the missing values raise any concerns?</p>
	<p>The missing values in the initial data do not raise any concerns, because we have very frequent sampling of data, and have many location points wthin the very small time periods</p>
	<p>Also, the dataset has been obtained by collecting sensor data from a large number of days. Therefore, even if a few rows are missing, it doesn't hurt the analayisis of the trends in movement.</p>
	<p>When I uploaded the dataset on Wrangler, a few empty cells (null values showed up). Since there was no appropriate fill suggestions, the rows with null values were removed.</p>
      </div>
      
      <div class="page-header">
	<h2>Is the data coherent?</h2>
	<p>Does it make sense relative to itself? Does it match your
	expectations? Are the distributions sensible? What is your
	evidence for this?</p>
	<p>The distributions are sensible, from  analysis. I have verified the location stats and they all in and on the route from CMU to my apartment. There are not outlier location instances.</p>
      </div>

	<div class="page-header">
		<h2>Is the data accountable?</h2>
		<p>Yes, the data is accountable, because the data was directly sourced from the sensors and no modifications were done prior to data-cleaning.</p>
		<p>I have also provided web-links to the sources that were obtained by the probing sensors.</p>
	</div>


      <div class="page-header">
	<h2>Is the data correct?</h2>
	<p>What aspects of this data are verifiable? How did you do so? What did
	you find?</p>
        <p>We can verify that the data is accurate, by checking the location plotting on the map in Tableau.</p>
	<p>During the exploratory analysis, I sampled the latitudes and longitudes and ensured that they lie reasonably close to the latitude and longitudes of my visited locations during the time that the data for the study was being collected.</p>
	<p>Another, possible way of verifying the data would be to measure the altitude values of the visted locations, and verify them with the available geographic data about the locations.</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
